.BB_Container {
    display: flex;
    flex-direction: column;
    height: 50%;
    width: 40px;
    justify-content: space-between;
}

.BB_Container div {
    width: 40px;
    background-color: white;
    height: 4px;
}

@media (min-width: 500px) {
    .BB_Container {
        display: none;
    }
}