.BB_Container {
    display: flex;
    flex-direction: column;
    height: 50%;
    width: 40px;
    justify-content: space-between;
}

.BB-Line {
    width: 40px;
    background-color: white;
    height: 3px;
}